body{
    background-color: #285430;
    font-family: roboto, sans-serif; 
    padding: 24px;
}
h1{
    font-size: 36px;
    margin-bottom: 4px;
    
}
h2{
    font-size: 24px;
    margin-bottom: 2px;
}
h1,h2,h3,p{
    
    color: #ffffff;
}

.container-kotak {
    display: flex;
    gap: 24px;           
    align-items: flex-start; 
    margin-top: 24px;
}

.sosmed{
    margin-left: 24px;
    position: fixed;
    bottom: 24px;
    width: 100%;
    display: flex;
    gap: 24px;
}

.sosmed img {
    height: 40px;
    margin: 0;
}
.kotak {
    width: 170px;
    height: 220px;
    background: #5F8D4E;
    border-radius: 24px;
    padding: 16px;
    margin-top: 24px;
    
}
.kotak img {
    width: 155px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: contain;
}

.kotak-kanan{
    width: 700px;
    height: 300px;
    background: #5F8D4E;
    
    border-radius: 24px;
    padding: 24px;
    margin-left: auto;   
    margin-right: 36px;    
    display: block;  
}

